<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add contact</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <form action="/add" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Phone:</label><br>
        <input type="text" name="phone" required><br><br>
    
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>
    
        <button type="submit">Add Contact</button>
    </form>
    <br>
    <a href="/">⬅️ Back to Home</a>
</body>
</html>